<div class="pure-menu pure-menu-open pure-menu-horizontal">
  <a href="#" class="pure-menu-heading">music match</a>

  <ul>
    <li class="pure-menu-selected"><a href="#">Listening</a></li>
    <li><a href="#">Recommendations</a></li>
    <li><a href="#">Statistics</a></li>
    <li><a href="#">Sign out</a></li>
  </ul>
</div>

<div class="song-search">
  <h1 class="song-search__search-cta">what song are you listening to?</h1>
  <form class="pure-form">
    <input name="filter" type="text" placeholder="Applause" class="song-search__search-box"></input>
  </form>
  <br />
  <div class="pure-button">show my recommendations</div>
</div>
