<div class="header-region">
<div class="pure-menu pure-menu-open pure-menu-horizontal">
  <a href="#" class="pure-menu-heading">music match</a>

  <ul>
    <li class="pure-menu-selected"><a href="#listening">Listening</a></li>
    <li><a href="#recommendations">Recommendations</a></li>
    <li><a href="#statistics">Statistics</a></li>
    <li><a href="#">Sign out</a></li>
  </ul>
</div>
</div>

<div class="main-region"></div>
