.header { }

  .header__image {
    height: 100px;
    background-color: #010006;
    background-size: 100%;
    background-position: bottom center;
  }

  .header__title {
    color: #fff;
    margin: 0 auto;
    max-width: 960px;
    font-size: 2em;
    position: relative;
    top: 70px;
    left: 20px;
  }

  .header__menu {
    max-width: 960px;
    margin: auto;
  }
