.listening__search__layout {
  @extend %primary-page;
}

  .listening__search__search-box {
    width: 100%;
    height: 40px;
  }

  .listening__search__results {
    margin: 10px 0;
  }

  .listening__search__result {
    margin: 10px 0;
    line-height: 32px;
    button {
      font-size: 70%;
      margin-left: 10px;
    }
  }

  .listening__artist-image {
    width: 32px;
    height: 32px !important;
    border-radius: 5px;
    float: left;
    margin-right: 8px;
  }
