.listening__search__layout {
  width: 960px;
  height: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  margin-left: -480px;
  margin-top: -60px;
}

  .listening__search__search-box {
    width: 50%;
    height: 40px;
  }

  .listening__search__results {
    margin: 10px 0;
  }

  .listening__search__result {
    margin: 10px 0;
    button {
      font-size: 70%;
    }
  }
