.song-search {
  width: 960px;
  height: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  margin-left: -480px;
  margin-top: -60px;
}

.song-search__search-cta {
}

.song-search__search-box {
  width: 50%;
  height: 40px;
}
